*{
    padding: 0;
    margin: 0;
}
body {
    background: #ecf0f1;
}

nav {
    background: #3498db;
    padding: 10px;
}

th {
 border-left: 1px solid red ;
 border-right: 1px solid red;
}
table,td {
border: 1px solid red;
}


table,td,th {
    padding: 2px;
}

table{
border-collapse: collapse;
}