<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividas</title>
</head>
<body>
    <nav>
        TABELA DE DIVIDAS:
        <form action="" method="post">
            <label for="pesquisa">Busca por CPF</label>
            <input type="text" name="pesquisa" id="pesquisa">
        </form>
    </nav>
    <main>
        <p>Nome: Deziene dos santos CPF: 07064987554 </p>
        <table>
            <thead>
                <th>
                    <tr>
                        <th>
                            Produto:
                        </th>
                        <th>
                            Local:
                        </th>
                        <th>
                            Data:
                        </th>
                        <th>
                            Valor
                        </th>
                    </tr>
                </th>
            </thead>
            <tbody>
                <td>Hanbuger</td>
                <td>Tia tam</td>
                <td>24/10/2022</td>
                <td>22.50</td>
            </tbody>
        </table>
    </main>
</body>
</html>