{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/dividas.css' %}">

    <title>Dividas</title>
</head>
<body>
    <header>
        <nav>
            TABELA DE DIVIDAS:
            <form action="" method="post">
                <label for="pesquisa">Busca por CPF</label>
                <input type="text" name="pesquisa" id="pesquisa">
            </form>
        </nav>
    </header>
    <main>
        {% for pessoa in pessoas %}
        <P> Nome: {{pessoa.nome}} CPF: {{pessoa.cpf}}</P>
            {% for divida in pessoa.dividas %}
            <table>
                <thead>
                    <th>
                        <tr>
                            <th>
                                Produto:
                            </th>
                            <th>
                                Local:
                            </th>
                            <th>
                                Data:
                            </th>
                            <th>
                                Valor
                            </th>
                        </tr>
                    </th>
                </thead>
                <tbody>
                    <td>{{divida.nome}}</td>
                    <td>{{divida.local}}</td>
                    <td>{{divida.data}}</td>
                    <td>{{divida.valor}}</td>
                </tbody>
            </table>
            {% endfor %}
        {% endfor %}
    </main>
</body>
</html>