{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/cadastro.css' %}">

    <title>LOGIN</title>
</head>
<body>
    <div class="form">
        <form action="{% url 'login' %}" method="post">  {% csrf_token %}
            <h1>LOGIN</h1>
                <input type="text" name="user_login" id="user_login" placeholder="login">
                <input type="password" name="senha" id="senha" placeholder="senha">
            <button type="submit">ENTRAR</button>
            <a href="{% url 'cadastro' %}">CADASTRAR</a>
        </form>
        
    </div>
</body>
</html>
